$dark-blue: #0b2142;
$light-blue: #0cb6cb;
$green: #00a799;
$salmon: #f47a5d;
$orange-yellow: #f7941d;
$header-green: #09b5ca;

body {
   font-family: Boston, Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   overflow-x: hidden;

   h1 {
      font-size: 56px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: -0.5px;
   }

   h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -1px;
   }

   h3 {
      // h3 alt (bold and caps)
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 5px;
   }

   h4 {
      //h3 not bold
      margin: 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
   }

   button {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 3.4000000953674316px;
      width: 247px;
      height: 64px;
      border-radius: 64px;
      border: none;
   }

   p {
      margin: 0;
   }

   .font-body {
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
   }

   .font-subtitle {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 3.4px;
   }

   .font-subtitle-bold {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1.6px;
   }

   .font-caption {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 1px;
   }

   .font-caption-alt {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0px;
   }
}

.empty-black-loading-div {
   background-color: rgb(233, 165, 165);
   width: 100%;
   height: 100vh;
}

.hero-background-appear {
   transform: scale(1.3) rotate(5deg);
   opacity: 0;
}
.hero-background-appear-active {
   transform: scale(1) rotate(0deg);
   opacity: 1;
   transition: transform 5s ease-out, opacity 1s linear;
}

.rotating-background {
   z-index: 2;
   height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-size: cover;
   position: fixed;
   top: 0;
   transition: background-image 500ms linear, opacity 1s linear;
   .background-color {
      background-color: white;
      transition: background-color 500ms linear;
      position: absolute;
      width: 100%;
      height: 100%;
   }
   .fade-out-white {
      background-color: transparent;
   }
}
.rotating-background-disappear {
   opacity: 0;
}

.background1 {
   background-image: url('./img/homepage/optimized/thematic-intro-bg.jpg');
   mix-blend-mode: hard-light;
}
.background2 {
   background-image: url('./img/homepage/optimized/fintech-bg.jpg');
   mix-blend-mode: hard-light;
}
.background3 {
   background-image: url('./img/homepage/optimized/retech-bg.jpg');
   mix-blend-mode: hard-light;
}
.background4 {
   background-image: url('./img/homepage/optimized/extech-bg.jpg');
   mix-blend-mode: hard-light;
}
.background5 {
   background-image: url('./img/homepage/optimized/lifetech-bg.jpg');
   mix-blend-mode: hard-light;
}

.main-header {
   position: relative;
   top: -10vh;
   left: 0;
   color: white;
   height: 100vh;
   width: 100vw;

   .hero-background {
      background-color: black;
      position: fixed;
      height: 100%;
      width: 100%;
      img {
         width: 100%;
         height: 100%;
      }
   }

   .main-logo {
      position: relative;
      top: 35%;
      width: 100%;
      text-align: center;
      font-size: 100px;
   }

   .contact-us {
      color: #09b5ca;
      position: absolute;
      left: 5.5%;
      top: 7%;
   }

   .investor-login {
      z-index: 1;
      color: $header-green;
      position: absolute;
      right: 10vw;
      top: 7vh;
   }

   h4.hero-subtitle {
      width: 780px;
      text-align: center;
      position: absolute;
      top: 70vh;
      left: 50vw;
      margin-left: -390px;
      em {
         font-style: normal;
         color: $header-green;
      }
   }

   .hero-logo-appear {
      transform: scale(1.2);
      opacity: 0;
   }
   .hero-logo-appear-active {
      transform: scale(1);
      opacity: 1;
      transition: transform 2s linear, opacity 1s linear;
   }

   .hero-tidbits-appear {
      opacity: 0;
   }
   .hero-tidbits-appear-active {
      opacity: 1;
      transition: opacity 1s linear 2s;
   }

   .coordinates {
      color: rgba(255, 255, 255, 0.6);
      font-family: 'Roboto Mono', monospace;
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: -0.02em;
      position: fixed;
      left: 5.5%;
      bottom: 5%;
   }

   .compass-svg {
      width: 70vh;
      position: fixed;
      right: 5vw;
      margin-right: -35vh;
      top: 50vh;
      margin-top: -35vh;
      animation: spin-compass infinite 180s linear;

      path {
         fill: #09b3ca67;
      }
   }

   .line1 {
      position: fixed;
      left: 5%;
      width: 1px;
      bottom: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      transition: height 1s linear 1s;
   }
   .line2 {
      position: fixed;
      left: 27.5%;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: height 1s linear 1s;
   }
   .line3 {
      position: fixed;
      left: 50%;
      bottom: 0;
      height: 100%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: height 1s linear 1s;
   }
   .line4 {
      position: fixed;
      right: 27.5%;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: height 1s linear 1s;
   }
   .line5 {
      position: fixed;
      right: 5%;
      bottom: 0;
      height: 100%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: height 1s linear 1s;
   }
   div.line-up-appear {
      height: 0;
   }
   div.line-up-appear-active {
      height: 100%;
   }
   div.line-down-appear {
      height: 0;
   }
   div.line-down-appear-active {
      height: 100%;
   }

   .hero-menu-wrapper {
      background-color: linear-gradient(197.36deg, #0a2040 33.42%, #00b7cc 93.86%);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      height: 100vh;
      width: 100vw;

      .hero-menu-background {
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         background-color: $dark-blue;
         transition: height 300ms linear, opacity 400ms ease-in;
      }

      .hero-menu-flexbox {
         position: relative;
         height: 100%;
         display: flex;

         .left-hero-menu {
            width: 50%;
            height: 100%;
            border-right: 1px solid rgba(255, 255, 255, 0.15);
            transition: height 300ms linear;

            h4 {
               position: absolute;
               left: 2.5%;
               top: 5%;
               font-size: 60px;
               transition: opacity 300ms ease-in 100ms;
            }

            .address-flex {
               display: flex;
               justify-content: space-between;
               width: 350px;
               position: absolute;
               bottom: 5%;
               left: 2.5%;
               transition: opacity 300ms ease-in 200ms;

               address {
                  font-style: normal;
                  color: rgba(255, 255, 255, 0.4);
                  font-family: 'Roboto Mono', monospace;
                  font-size: 10px;
                  font-weight: 300;
                  line-height: 12px;
               }
            }
         }

         .hero-menu-center-line-appear {
            height: 0;
         }
         .hero-menu-center-line-appear-active {
            height: 100%;
         }

         .right-hero-menu {
            width: 49%;
            padding: 0;
            margin: 0;
            ul {
               margin: 0 auto 0 15%;
               width: 90%;
               padding-top: 17%;
               display: flex;
               flex-direction: column;
               list-style-type: none;
               text-transform: uppercase;
               justify-content: flex-start;

               li {
                  padding: 3.5vh 0;
                  font-weight: bold;
                  font-size: 24px;
                  letter-spacing: 0.24em;

                  .wc-arrow-svg {
                     opacity: 0;
                     width: 15px;
                     position: relative;
                     top: -8px;
                     left: -10px;
                     transition: all 200ms linear;
                  }
               }

               li:hover {
                  color: $orange-yellow;
                  .wc-arrow-svg {
                     opacity: 1;
                     top: -14px;
                     left: -2px;
                  }
               }

               .borders {
                  background-color: rgba(255, 255, 255, 0.15);
                  height: 1px;
               }
               .border1 {
                  transition: transform 300ms linear 200ms;
               }
               .border2 {
                  transition: transform 300ms linear 240ms;
               }
               .border3 {
                  transition: transform 300ms linear 280ms;
               }
               .border4 {
                  transition: transform 300ms linear 320ms;
               }
               .border5 {
                  transition: transform 300ms linear 360ms;
               }

               .hero-menu-border-appear {
                  transform: translateX(100%);
               }
               .hero-menu-border-appear-active {
                  transform: translateX(0);
               }

               .item1 {
                  transition: opacity 300ms linear 60ms, transform 300ms linear 60ms;
               }
               .item2 {
                  transition: opacity 300ms linear 100ms, transform 300ms linear 100ms;
               }
               .item3 {
                  transition: opacity 300ms linear 140ms, transform 300ms linear 140ms;
               }
               .item4 {
                  transition: opacity 300ms linear 180ms, transform 300ms linear 180ms;
               }
               .item5 {
                  color: $header-green;
                  transition: opacity 300ms linear 220ms, transform 300ms linear 220ms;
               }
               .item6 {
                  transition: opacity 300ms linear 260ms, transform 300ms linear 260ms;
               }

               .hero-menu-list-appear {
                  opacity: 0;
                  transform: translateY(50%);
               }
               .hero-menu-list-appear-active {
                  opacity: 1;
                  transform: translateY(0);
               }
            }
         }
      }

      .hero-menu-background-appear {
         height: 0;
         opacity: 0.2;
      }
      .hero-menu-background-appear-active {
         height: 100vh;
         opacity: 1;
      }
      .hero-menu-logo-appear {
         opacity: 0;
      }
      .hero-menu-logo-appear-active {
         opacity: 1;
      }
      .hero-menu-address-appear {
         opacity: 0;
      }
      .hero-menu-address-appear-active {
         opacity: 1;
      }
   }

   .spacer-div {
      position: absolute;
      top: 100vh;
      height: 500px;
      width: 100%;
   }

   .header-cover {
      z-index: -1;
      background-color: transparent;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      transition: background-color 1s linear;
   }
   .header-cover-cover {
      z-index: 1;
      background-color: white;
   }
} // main-header

.burger {
   z-index: 10;
   position: fixed;
   right: 5vw;
   top: 7vh;
   margin-top: -18px;
   margin-right: -24px;
   height: 48px;
   width: 48px;
   border: 1px solid rgba(255, 255, 255, 0.31);
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.08);

   .layers {
      position: absolute;
      width: 14px;
      height: 1px;
      background-color: white;
      border-radius: 10px;
      transform-origin: left;
   }
   .layer1 {
      left: 17px;
      top: 19px;
      transition: transform 100ms linear, width 100ms linear;
   }
   .layer2 {
      left: 17px;
      top: 23px;
      transition: opacity 100ms linear;
   }
   .layer3 {
      left: 17px;
      top: 27px;
      transition: transform 100ms linear, width 100ms linear;
   }
}

.burger-fade {
   opacity: 0;
   z-index: 10;
}
.burger-color {
   background-color: $dark-blue;
}

.burger:hover {
   background-color: white;
   .layers {
      background-color: $dark-blue;
   }
}

.clicked-burger {
   .layer2 {
      opacity: 0;
   }
   .layer1 {
      transform: rotate(45deg) translateY(-2px) translateX(-1px);
      width: 17px;
   }
   .layer3 {
      transform: rotate(-45deg) translateY(2px) translateX(-1px);
      width: 17px;
   }
}

.level2 {
   margin-top: -20vh;
   position: relative;
   z-index: 3;
   width: 100%;
   padding-bottom: 200px;

   .svg-container {
      transition: opacity 500ms linear 500ms;
      opacity: 0;
      position: relative;
      height: 120vh;
      width: 100vw;
      .years-svg {
         position: absolute;
         width: 194px;
         top: 50%;
         left: 50%;
         margin-top: -86px;
         margin-left: -97px;
      }
      .together-circle-svg {
         transform: rotate(-15deg) scale(1.3);
         position: absolute;
         width: 512px;
         top: 50%;
         left: 50%;
         margin-top: -256px;
         margin-left: -256px;
         transition: transform 1s linear;
      }

      .vert-line {
         height: 0;
         position: absolute;
         left: 50%;
         // height: 107px;
         width: 1px;
         background-color: $dark-blue;
         transition: height 1s linear 1s;
      }
      .line1 {
         bottom: 50%;
         margin-bottom: 290px;
      }
      .line2 {
         top: 50%;
         margin-top: 290px;
      }

      .wings {
         border-top: $dark-blue solid 1px;
         border-bottom: $dark-blue solid 1px;
         position: absolute;
         top: 50%;
         margin-top: -10px;
         font-weight: 900;
         font-size: 24px;
         line-height: 32px;
         width: 89px;
         text-align: center;
         transition: transform 1s linear;
      }
      .estd {
         transform: translateX(-100%);
         right: 50%;
         margin-right: 290px;
      }
      .year-est {
         transform: translateX(100%);
         left: 50%;
         margin-left: 290px;
      }
   }
   .meet-team-caption {
      position: relative;
      padding-top: 20px;
      text-align: center;
      width: 708px;
      margin: auto;
   }
   .meet-team-button {
      position: relative;
      display: block;
      background-color: #09b5ca;
      margin: 40px auto 0 auto;
   }

   .investment-container {
      margin-top: 162px;
      padding: 3%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .block {
         opacity: 0;
         transition: opacity 1s linear;
         position: relative;
         z-index: 5;
         display: inline-block;
         display: flex;
         flex-flow: column nowrap;
         width: 304px;
         border-radius: 20px;

         .top {
            border: 1px solid $dark-blue;
            height: 205px;
            background-color: $dark-blue;
            text-align: center;
            color: white;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            h2 {
               margin: 48px 0 0 0;
            }
         }

         .bottom {
            border: 1px solid $dark-blue;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: white;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            height: 255px;
            padding: 25px 32px;
         }
      }

      .block1 {
         margin-bottom: 164px;
         .bottom {
            div {
               border-bottom: 1px solid #d7d7d7;
               width: 100%;
               padding: 15px 0;
            }
            div:last-of-type {
               border: none;
            }
            .ipreo {
               width: 78px;
            }
            .tmcbonds {
               width: 127px;
            }
            .ilevel {
               width: 68px;
            }
         }
      }
      .block2 {
         margin-top: 164px;
         .bottom {
            div {
               border-bottom: 1px solid #d7d7d7;
               width: 100%;
               padding: 15px 0;
            }
            div:last-of-type {
               border: none;
            }
            .gso {
               width: 87px;
            }
            .airbnb {
               width: 87px;
            }
            .blackstone {
               width: 91px;
            }
         }
      }
      .block3 {
         margin-bottom: 164px;
         .bottom {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            div {
               width: 49%;
               padding: 21px 0 17px;
            }
            div:first-of-type {
               padding: 23px 0 15px;
               border-bottom: 1px solid #d7d7d7;
               border-right: 1px solid #d7d7d7;
            }
            div:nth-of-type(2) {
               padding: 19px 0 19px;
               border-bottom: 1px solid #d7d7d7;
            }
            div:nth-of-type(3) {
               padding: 23px 0 19px;
               border-right: 1px solid #d7d7d7;
               border-bottom: 1px solid #d7d7d7;
            }
            div:nth-of-type(4) {
               border-bottom: 1px solid #d7d7d7;
            }
            div:nth-of-type(5) {
               padding: 25px 0 13px;
               border-right: 1px solid #d7d7d7;
            }

            .cyclance {
               width: 94px;
            }
            .skillz {
               width: 55px;
            }
            .carbon {
               width: 86px;
            }
            .tradeweb {
               width: 78px;
            }
            .sonder {
               width: 74px;
            }
            .archipelago {
               width: 84px;
            }
         }
      }

      .block4 {
         height: 306px;
         margin-top: 205px;
         border: none;
         text-align: center;
         background-color: $header-green;
         h2 {
            margin: 110px 0 0;
         }
      }
   }
   .investment-container-appear {
      .block {
         opacity: 1;
      }
   }

   .svg-container-appear {
      opacity: 1;
      .vert-line {
         height: 107px;
      }
      .together-circle-svg {
         transform: rotate(0deg) scale(1);
      }
      .wings {
         transform: translateX(0);
      }
   }
} // level2

.level3 {
   width: 100%;
   position: relative;
   z-index: 4;

   .content {
      display: inline-block;
      color: white;
      height: 70vh;
      width: 57%;
      margin-top: 30vh;
      margin-left: 13vw;
      h2 {
         width: 481px;
      }
      h3 {
         width: 483px;
      }
      p {
         width: 599px;
      }
   }
   .content1 {
      height: 90vh;
   }

   .sticky-menu {
      position: fixed;
      width: 29vw;
      right: 0;
      top: 0;
      height: 100vh;
      padding: 0;
      margin: 0;
      .vertical-line {
         opacity: 0;
         position: absolute;
         top: 0;
         left: 0;
         height: 0;
         width: 1px;
         background-color: rgba(255, 255, 255, 0.32);
         transition: height 1000ms linear 200ms, opacity 500ms linear 200ms;
      }
      .menu-flexbox {
         position: absolute;
         top: 0;
         left: 1px;
         width: 100%;
         display: inline-flex;
         flex-flow: column nowrap;
         color: white;
         .h-line {
            height: 1px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.32);
            transform: translateX(100%);
         }
         .menu-item {
            opacity: 0;
            height: 25vh;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            transform: translateX(5%);
            span {
               color: white;
            }

            .font-green {
               color: $header-green;
            }
         }
         p {
            width: 262px;
         }
         .menu1 {
            transition: transform 50ms linear 350ms, opacity 50ms linear 350ms;
            svg {
               width: 28px;
               path {
                  fill: white;
               }
            }
         }
         .line1 {
            transition: transform 250ms linear 200ms;
         }
         .menu2 {
            transition: transform 50ms linear 600ms, opacity 50ms linear 600ms;
            svg {
               width: 34px;
               stroke: white;
               path {
                  stroke: white;
               }
            }
         }
         .line2 {
            transition: transform 250ms linear 450ms;
         }
         .menu3 {
            transition: transform 50ms linear 850ms, opacity 50ms linear 850ms;
            svg {
               width: 28px;
               path {
                  stroke: white;
               }
            }
         }
         .line3 {
            transition: transform 250ms linear 700ms;
         }
         .menu4 {
            transition: transform 50ms linear 1100ms, opacity 50ms linear 1100ms;
            svg {
               width: 25px;
               path {
                  fill: white;
               }
            }
         }
         .menu-item-shaded {
            background-color: rgba(0, 0, 0, 0.6);
         }
         .menu-item-shaded.menu1 {
            color: #00a799;
            svg {
               path {
                  fill: #00a799;
               }
            }
         }
         .menu-item-shaded.menu2 {
            color: #f47a5d;
            svg {
               path {
                  stroke: #f47a5d;
               }
               stroke: #f47a5d;
            }
         }
         .menu-item-shaded.menu3 {
            color: #f7941d;
            svg {
               path {
                  stroke: #f7941d;
               }
            }
         }
         .menu-item-shaded.menu4 {
            color: #09b5ca;
            svg {
               path {
                  fill: #09b5ca;
               }
            }
         }
      }
   }

   .menu-appear {
      .vertical-line {
         opacity: 1;
         height: 100%;
      }
      .menu-flexbox {
         .menu1 {
            opacity: 1;
            transform: translateX(0);
         }
         .line1 {
            transform: translateX(0);
         }
         .menu2 {
            opacity: 1;
            transform: translateX(0);
         }
         .line2 {
            transform: translateX(0);
         }
         .menu3 {
            opacity: 1;
            transform: translateX(0);
         }
         .line3 {
            transform: translateX(0);
         }
         .menu4 {
            opacity: 1;
            transform: translateX(0);
         }
      }
   }
} // level 3

.level4 {
   position: relative;
   z-index: 5;
   width: 100vw;
   padding-top: 20vh;
   padding-bottom: 800px;

   .sticky-left {
      display: inline-block;
      opacity: 0;
      position: sticky;
      top: 5vh;
      width: 526px;
      height: 166px;
      margin-left: 5%;
      transition: opacity 500ms linear;

      h2 {
         margin: 0 0;
      }
   }

   .scrolling-right {
      opacity: 0;
      position: relative;
      margin-left: 55%;
      margin-top: -156px;
      width: 40%;
      transition: opacity 500ms linear;

      header {
         height: 75px;
         border-top-left-radius: 16px;
         border-top-right-radius: 16px;
         border: 1px solid $dark-blue;
         background-color: $dark-blue;
         color: white;
         p {
            padding-left: 5%;
            padding-top: 27px;
         }
      }

      .body {
         display: flex;
         flex-flow: column nowrap;
         border: 1px solid $dark-blue;
         border-bottom-left-radius: 16px;
         border-bottom-right-radius: 16px;
         padding: 5%;
         height: 245px;
         justify-content: space-evenly;
         margin-bottom: 32px;

         div {
            div {
               width: 45px;
            }
            display: flex;
            img {
               width: 22px;
            }
         }
      }
      .last-body {
         margin-bottom: 0;
      }
   }
}

.level4-appear {
   .sticky-left {
      opacity: 1;
   }
   .scrolling-right {
      opacity: 1;
   }
}

@keyframes spin-compass {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(-360deg);
   }
}
