body {
  font-family: Boston, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.5px;
}

body h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
}

body h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 5px;
}

body h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
}

body .button-oval {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 3.4px;
  height: 64px;
  border-radius: 64px;
  border: none;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

body button:hover {
  cursor: pointer;
}

body a {
  text-decoration: none;
  color: inherit;
}

body p {
  margin: 0;
}

body .font-body {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

body .font-subtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 3.4px;
}

body .font-subtitle-bold {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.6px;
}

body .font-caption {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
}

body .font-caption-alt {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 5.5%;
  top: 7vh;
  width: 84.5%;
  color: #09b5ca;
  z-index: 2;
}

.small-logo {
  width: 100%;
  position: absolute;
  top: 7vh;
  margin-top: 0;
  text-align: center;
  z-index: 1;
}

.small-logo span {
  color: #09b5ca;
}

.footer {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #0b2142;
  text-align: center;
}

.footer hr {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.24);
  height: 1px;
  border: none;
}

.footer p {
  color: white;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.background-color {
  opacity: 0;
  background-color: white;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 1s linear, opacity 1s linear;
  transition: background-color 1s linear, opacity 1s linear;
}

.background-blue {
  background-color: #0b2142;
}

.background-color-appear {
  opacity: 1;
}

.background1 {
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 500ms linear, background-image 500ms linear;
  transition: opacity 500ms linear, background-image 500ms linear;
  width: 100%;
  height: 100%;
  top: 0;
  mix-blend-mode: hard-light;
  background-image: url("./img/homepage/optimized/thematic-intro-bg.jpg");
}

.background2 {
  background-image: url("./img/homepage/optimized/fintech-bg.jpg");
}

.background3 {
  background-image: url("./img/homepage/optimized/retech-bg.jpg");
}

.background4 {
  background-image: url("./img/homepage/optimized/extech-bg.jpg");
}

.background5 {
  background-image: url("./img/homepage/optimized/lifetech-bg.jpg");
}

.background-appear {
  opacity: 1;
}

.main-header {
  color: white;
  height: 100vh;
  width: 100%;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.main-header .hero-background {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s linear, -webkit-transform 5s ease-out;
  transition: opacity 1s linear, -webkit-transform 5s ease-out;
  transition: transform 5s ease-out, opacity 1s linear;
  transition: transform 5s ease-out, opacity 1s linear, -webkit-transform 5s ease-out;
  background-image: url("./img/homepage/optimized/homepage-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

.main-header .main-logo {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 100px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
  -webkit-transition: opacity 1s linear, -webkit-transform 2s linear;
  transition: opacity 1s linear, -webkit-transform 2s linear;
  transition: transform 2s linear, opacity 1s linear;
  transition: transform 2s linear, opacity 1s linear, -webkit-transform 2s linear;
}

.main-header .main-logo span {
  color: #09b5ca;
}

.main-header .header-links {
  opacity: 0;
  -webkit-transition: opacity 1s linear 2s;
  transition: opacity 1s linear 2s;
}

.main-header .hero-subtitle {
  text-align: center;
  position: absolute;
  width: 80%;
  top: 70vh;
  left: 10%;
  opacity: 0;
  -webkit-transition: opacity 1s linear 2s;
  transition: opacity 1s linear 2s;
}

.main-header .hero-subtitle em {
  font-style: normal;
  color: #09b5ca;
}

.main-header .coordinates {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  position: fixed;
  left: 5.5%;
  bottom: 5%;
  opacity: 0;
  -webkit-transition: opacity 1s linear 2s;
  transition: opacity 1s linear 2s;
}

.main-header .compass-svg {
  width: 70vh;
  position: fixed;
  right: 5%;
  margin-right: -35vh;
  top: 50vh;
  margin-top: -35vh;
  opacity: 0;
  -webkit-transition: opacity 1s linear 1s;
  transition: opacity 1s linear 1s;
  -webkit-animation: spin-compass infinite 180s linear;
          animation: spin-compass infinite 180s linear;
}

.main-header .compass-svg path {
  fill: #09b3ca67;
}

.main-header .line {
  position: fixed;
  width: 0.5px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: height 1s linear 1s;
  transition: height 1s linear 1s;
  height: 0;
}

.main-header .line1 {
  left: 5%;
  bottom: 0;
}

.main-header .line2 {
  left: 27.5%;
  top: 0;
}

.main-header .line3 {
  left: 50%;
  bottom: 0;
}

.main-header .line4 {
  right: 27.5%;
  top: 0;
}

.main-header .line5 {
  right: 5%;
  bottom: 0;
}

.index-appear .main-header .hero-background {
  -webkit-transform: scale(1.3) rotate(5deg);
          transform: scale(1.3) rotate(5deg);
}

.index-appear-active .burger {
  -webkit-transition: opacity 1s linear 2s, -webkit-transform 100ms linear;
  transition: opacity 1s linear 2s, -webkit-transform 100ms linear;
  transition: opacity 1s linear 2s, transform 100ms linear;
  transition: opacity 1s linear 2s, transform 100ms linear, -webkit-transform 100ms linear;
  opacity: 1;
}

.index-appear-active .main-header .hero-background {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  opacity: 1;
}

.index-appear-active .main-header .compass-svg {
  opacity: 1;
}

.index-appear-active .main-header .main-logo {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.index-appear-active .main-header .header-links {
  opacity: 1;
}

.index-appear-active .main-header .hero-subtitle {
  opacity: 1;
}

.index-appear-active .main-header .coordinates {
  opacity: 1;
}

.index-appear-active .main-header .line {
  height: 100%;
}

.index-appear-done .burger {
  opacity: 1;
}

.index-appear-done .main-header .hero-background {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  opacity: 1;
}

.index-appear-done .main-header .compass-svg {
  opacity: 1;
}

.index-appear-done .main-header .main-logo {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.index-appear-done .main-header .header-links {
  opacity: 1;
}

.index-appear-done .main-header .hero-subtitle {
  opacity: 1;
}

.index-appear-done .main-header .coordinates {
  opacity: 1;
}

.index-appear-done .main-header .line {
  height: 100%;
}

.main-header-disappear {
  opacity: 0;
}

.burger {
  opacity: 0;
  z-index: 10;
  position: fixed;
  right: 5%;
  top: 7vh;
  margin-top: -18px;
  margin-right: -24px;
  height: 48px;
  width: 48px;
  border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.burger .layers {
  position: absolute;
  width: 14px;
  height: 1px;
  background-color: white;
  border-radius: 10px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.burger .layer1 {
  left: 17px;
  top: 19px;
  -webkit-transition: width 100ms linear, -webkit-transform 100ms linear;
  transition: width 100ms linear, -webkit-transform 100ms linear;
  transition: transform 100ms linear, width 100ms linear;
  transition: transform 100ms linear, width 100ms linear, -webkit-transform 100ms linear;
}

.burger .layer2 {
  left: 17px;
  top: 23px;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.burger .layer3 {
  left: 17px;
  top: 27px;
  -webkit-transition: width 100ms linear, -webkit-transform 100ms linear;
  transition: width 100ms linear, -webkit-transform 100ms linear;
  transition: transform 100ms linear, width 100ms linear;
  transition: transform 100ms linear, width 100ms linear, -webkit-transform 100ms linear;
}

.burger-blue {
  opacity: 1;
  border: 1px solid rgba(11, 33, 66, 0.31);
  background-color: rgba(11, 33, 66, 0.08);
}

.burger-blue .layers {
  background-color: #0b2142;
}

.burger:hover {
  background-color: white;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.burger:hover .layers {
  background-color: #0b2142;
}

.burger-blue:hover {
  background-color: #0b2142;
}

.burger-blue:hover .layers {
  background-color: white;
}

.clicked-burger {
  border: 1px solid rgba(255, 255, 255, 0.31);
  background-color: rgba(255, 255, 255, 0.08);
}

.clicked-burger .layers {
  background-color: white;
}

.clicked-burger .layer2 {
  opacity: 0;
}

.clicked-burger .layer1 {
  -webkit-transform: rotate(45deg) translateY(-2px) translateX(-1px);
          transform: rotate(45deg) translateY(-2px) translateX(-1px);
  width: 17px;
}

.clicked-burger .layer3 {
  -webkit-transform: rotate(-45deg) translateY(2px) translateX(-1px);
          transform: rotate(-45deg) translateY(2px) translateX(-1px);
  width: 17px;
}

.clicked-burger:hover {
  background-color: white;
}

.clicked-burger:hover .layers {
  background-color: #0b2142;
}

.burger-appear {
  opacity: 1;
}

.burger-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  height: 100vh;
  width: 100%;
  color: white;
}

.burger-menu .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #0b2142;
  height: 0;
  opacity: 0.2;
}

.burger-menu .small-logo {
  display: none;
  opacity: 0;
}

.burger-menu .menu-flexbox {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger-menu .menu-flexbox .left-menu {
  width: 50%;
  height: 100%;
  border-right: 0.5px solid rgba(255, 255, 255, 0.15);
  -webkit-transition: height 300ms linear;
  transition: height 300ms linear;
  height: 0;
}

.burger-menu .menu-flexbox .left-menu h4 {
  position: relative;
  width: 90%;
  left: 5%;
  top: 5%;
  font-size: 60px;
  line-height: 60px;
  opacity: 0;
}

.burger-menu .menu-flexbox .address-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
  width: 40%;
  position: absolute;
  bottom: 5%;
  left: 2.5%;
  opacity: 0;
}

.burger-menu .menu-flexbox .address-flex address {
  font-style: normal;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
}

.burger-menu .menu-flexbox .right-menu {
  width: 49%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.burger-menu .menu-flexbox .right-menu ul {
  margin: 15vh auto 0 30%;
  width: 72%;
  height: 70%;
  max-height: 400px;
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-transform: uppercase;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.burger-menu .menu-flexbox .right-menu ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.24em;
}

.burger-menu .menu-flexbox .right-menu ul li .wc-arrow-svg {
  opacity: 0;
  width: 15px;
  position: relative;
  top: -8px;
  left: -10px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.burger-menu .menu-flexbox .right-menu ul li:hover {
  color: #f7941d;
}

.burger-menu .menu-flexbox .right-menu ul li:hover .wc-arrow-svg {
  opacity: 1;
  top: -14px;
  left: -2px;
}

.burger-menu .menu-flexbox .right-menu ul .borders {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.15);
  height: 0.5px;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border: none;
}

.burger-menu .menu-flexbox .right-menu ul .items {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.burger-menu .menu-flexbox .right-menu ul .item5 {
  color: #09b5ca;
}

.burger-menu-appear {
  z-index: 9;
  opacity: 1;
}

.burger-menu-appear .background {
  -webkit-transition: height 300ms linear, opacity 400ms ease-in;
  transition: height 300ms linear, opacity 400ms ease-in;
  height: 100vh;
  opacity: 1;
}

.burger-menu-appear .small-logo {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in 100ms;
  transition: opacity 300ms ease-in 100ms;
}

.burger-menu-appear .menu-flexbox .left-menu {
  height: 100%;
}

.burger-menu-appear .menu-flexbox .left-menu h4 {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in 100ms;
  transition: opacity 300ms ease-in 100ms;
}

.burger-menu-appear .menu-flexbox .address-flex {
  -webkit-transition: opacity 300ms ease-in 200ms;
  transition: opacity 300ms ease-in 200ms;
  opacity: 1;
}

.burger-menu-appear .menu-flexbox .right-menu ul .border1 {
  -webkit-transition: -webkit-transform 300ms linear 200ms;
  transition: -webkit-transform 300ms linear 200ms;
  transition: transform 300ms linear 200ms;
  transition: transform 300ms linear 200ms, -webkit-transform 300ms linear 200ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .border2 {
  -webkit-transition: -webkit-transform 300ms linear 240ms;
  transition: -webkit-transform 300ms linear 240ms;
  transition: transform 300ms linear 240ms;
  transition: transform 300ms linear 240ms, -webkit-transform 300ms linear 240ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .border3 {
  -webkit-transition: -webkit-transform 300ms linear 280ms;
  transition: -webkit-transform 300ms linear 280ms;
  transition: transform 300ms linear 280ms;
  transition: transform 300ms linear 280ms, -webkit-transform 300ms linear 280ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .border4 {
  -webkit-transition: -webkit-transform 300ms linear 320ms;
  transition: -webkit-transform 300ms linear 320ms;
  transition: transform 300ms linear 320ms;
  transition: transform 300ms linear 320ms, -webkit-transform 300ms linear 320ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .border5 {
  -webkit-transition: -webkit-transform 300ms linear 360ms;
  transition: -webkit-transform 300ms linear 360ms;
  transition: transform 300ms linear 360ms;
  transition: transform 300ms linear 360ms, -webkit-transform 300ms linear 360ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .borders {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger-menu-appear .menu-flexbox .right-menu ul .item1 {
  -webkit-transition: opacity 300ms linear 60ms, -webkit-transform 300ms linear 60ms;
  transition: opacity 300ms linear 60ms, -webkit-transform 300ms linear 60ms;
  transition: opacity 300ms linear 60ms, transform 300ms linear 60ms;
  transition: opacity 300ms linear 60ms, transform 300ms linear 60ms, -webkit-transform 300ms linear 60ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .item2 {
  -webkit-transition: opacity 300ms linear 100ms, -webkit-transform 300ms linear 100ms;
  transition: opacity 300ms linear 100ms, -webkit-transform 300ms linear 100ms;
  transition: opacity 300ms linear 100ms, transform 300ms linear 100ms;
  transition: opacity 300ms linear 100ms, transform 300ms linear 100ms, -webkit-transform 300ms linear 100ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .item3 {
  -webkit-transition: opacity 300ms linear 140ms, -webkit-transform 300ms linear 140ms;
  transition: opacity 300ms linear 140ms, -webkit-transform 300ms linear 140ms;
  transition: opacity 300ms linear 140ms, transform 300ms linear 140ms;
  transition: opacity 300ms linear 140ms, transform 300ms linear 140ms, -webkit-transform 300ms linear 140ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .item4 {
  -webkit-transition: opacity 300ms linear 180ms, -webkit-transform 300ms linear 180ms;
  transition: opacity 300ms linear 180ms, -webkit-transform 300ms linear 180ms;
  transition: opacity 300ms linear 180ms, transform 300ms linear 180ms;
  transition: opacity 300ms linear 180ms, transform 300ms linear 180ms, -webkit-transform 300ms linear 180ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .item5 {
  -webkit-transition: opacity 300ms linear 220ms, -webkit-transform 300ms linear 220ms;
  transition: opacity 300ms linear 220ms, -webkit-transform 300ms linear 220ms;
  transition: opacity 300ms linear 220ms, transform 300ms linear 220ms;
  transition: opacity 300ms linear 220ms, transform 300ms linear 220ms, -webkit-transform 300ms linear 220ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .item6 {
  -webkit-transition: opacity 300ms linear 260ms, -webkit-transform 300ms linear 260ms;
  transition: opacity 300ms linear 260ms, -webkit-transform 300ms linear 260ms;
  transition: opacity 300ms linear 260ms, transform 300ms linear 260ms;
  transition: opacity 300ms linear 260ms, transform 300ms linear 260ms, -webkit-transform 300ms linear 260ms;
}

.burger-menu-appear .menu-flexbox .right-menu ul .items {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.burger-menu-disappear {
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  opacity: 0;
  z-index: 9;
}

.burger-menu-disappear .background {
  height: 100vh;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.burger-menu-disappear .small-logo {
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.burger-menu-disappear .menu-flexbox .left-menu {
  height: 100%;
}

.burger-menu-disappear .menu-flexbox .left-menu h4 {
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.burger-menu-disappear .menu-flexbox .address-flex {
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.burger-menu-disappear .menu-flexbox .right-menu ul .borders {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.burger-menu-disappear .menu-flexbox .right-menu ul .items {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: opacity 300ms linear, -webkit-transform 300ms linear;
  transition: opacity 300ms linear, -webkit-transform 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear, -webkit-transform 300ms linear;
}

.level2 {
  margin-top: -30vh;
  width: 100%;
  padding-bottom: 100px;
  overflow-x: hidden;
}

.level2 .svg-container {
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  opacity: 0;
  position: relative;
  height: 850px;
  width: 100%;
}

.level2 .svg-container .years-svg {
  position: absolute;
  width: 194px;
  top: 50%;
  left: 50%;
  margin-top: -86px;
  margin-left: -97px;
}

.level2 .svg-container .together-circle-svg {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
  position: absolute;
  width: 512px;
  top: 50%;
  left: 50%;
  margin-top: -256px;
  margin-left: -256px;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.level2 .svg-container .vert-line {
  height: 0;
  position: absolute;
  left: 50%;
  width: 1px;
  background-color: #0b2142;
  -webkit-transition: height 1s linear 1s;
  transition: height 1s linear 1s;
}

.level2 .svg-container .line1 {
  bottom: 50%;
  margin-bottom: 290px;
}

.level2 .svg-container .line2 {
  top: 50%;
  margin-top: 290px;
}

.level2 .svg-container .wings {
  border-top: #0b2142 solid 1px;
  border-bottom: #0b2142 solid 1px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  width: 89px;
  color: #0b2142;
  text-align: center;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.level2 .svg-container .estd {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  right: 50%;
  margin-right: 290px;
}

.level2 .svg-container .year-est {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  left: 50%;
  margin-left: 290px;
}

.level2 .caption-20years {
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 5%;
}

.level2 .caption-20years .meet-team-caption {
  max-width: 708px;
}

.level2 .caption-20years .meet-team-button {
  width: 239px;
  display: block;
  background-color: #09b5ca;
  margin: 40px auto 0 auto;
}

.level2 .caption-20years-appear {
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.level2 .investment-container {
  margin-top: 162px;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.level2 .investment-container .flex-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.level2 .investment-container .block {
  margin: 0 12px;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  position: relative;
  z-index: 5;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 304px;
  border-radius: 20px;
}

.level2 .investment-container .block .top {
  border: 1px solid #0b2142;
  height: 205px;
  background-color: #0b2142;
  text-align: center;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.level2 .investment-container .block .top h2 {
  margin: 48px 0 0 0;
}

.level2 .investment-container .block .bottom {
  border: 1px solid #0b2142;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 255px;
  padding: 25px 32px;
}

.level2 .investment-container .block1 {
  margin-bottom: 164px;
}

.level2 .investment-container .block1 .bottom div {
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  padding: 15px 0;
}

.level2 .investment-container .block1 .bottom div:last-of-type {
  border: none;
}

.level2 .investment-container .block1 .bottom .ipreo {
  width: 78px;
}

.level2 .investment-container .block1 .bottom .tmcbonds {
  width: 127px;
}

.level2 .investment-container .block1 .bottom .ilevel {
  width: 68px;
}

.level2 .investment-container .block2 {
  margin-top: 164px;
}

.level2 .investment-container .block2 .bottom div {
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  padding: 15px 0;
}

.level2 .investment-container .block2 .bottom div:last-of-type {
  border: none;
}

.level2 .investment-container .block2 .bottom .gso {
  width: 87px;
}

.level2 .investment-container .block2 .bottom .airbnb {
  width: 87px;
}

.level2 .investment-container .block2 .bottom .blackstone {
  width: 91px;
}

.level2 .investment-container .block3 {
  margin-bottom: 164px;
}

.level2 .investment-container .block3 .bottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.level2 .investment-container .block3 .bottom div {
  width: 49%;
  padding: 21px 0 17px;
}

.level2 .investment-container .block3 .bottom div:first-of-type {
  padding: 23px 0 15px;
  border-bottom: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}

.level2 .investment-container .block3 .bottom div:nth-of-type(2) {
  padding: 19px 0 19px;
  border-bottom: 1px solid #d7d7d7;
}

.level2 .investment-container .block3 .bottom div:nth-of-type(3) {
  padding: 23px 0 19px;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.level2 .investment-container .block3 .bottom div:nth-of-type(4) {
  border-bottom: 1px solid #d7d7d7;
}

.level2 .investment-container .block3 .bottom div:nth-of-type(5) {
  padding: 25px 0 13px;
  border-right: 1px solid #d7d7d7;
}

.level2 .investment-container .block3 .bottom .cyclance {
  width: 94px;
}

.level2 .investment-container .block3 .bottom .skillz {
  width: 55px;
}

.level2 .investment-container .block3 .bottom .carbon {
  width: 86px;
}

.level2 .investment-container .block3 .bottom .tradeweb {
  width: 78px;
}

.level2 .investment-container .block3 .bottom .sonder {
  width: 74px;
}

.level2 .investment-container .block3 .bottom .archipelago {
  width: 84px;
}

.level2 .investment-container .block4 {
  height: 306px;
  margin-top: 205px;
  border: none;
  text-align: center;
  background-color: #09b5ca;
}

.level2 .investment-container .block4 h2 {
  margin: 110px 0 0;
}

.level2 .investment-container-appear .block {
  opacity: 1;
}

.level2 .svg-container-appear {
  -webkit-transition: opacity 500ms linear 500ms;
  transition: opacity 500ms linear 500ms;
  opacity: 1;
}

.level2 .svg-container-appear .vert-line {
  height: 107px;
}

.level2 .svg-container-appear .together-circle-svg {
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
}

.level2 .svg-container-appear .wings {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.level3 {
  width: 100%;
}

.level3 .content {
  position: relative;
  display: inline-block;
  color: white;
  height: 70vh;
  width: 45%;
  margin-top: 10vh;
  margin-left: 13%;
}

.level3 .content h2 {
  max-width: 481px;
}

.level3 .content h3 {
  max-width: 483px;
}

.level3 .content p {
  max-width: 599px;
}

.level3 .section1 {
  height: 90vh;
}

.level3 .sticky-menu {
  position: fixed;
  width: 29%;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: -1;
  -webkit-transition: z-index 2s linear;
  transition: z-index 2s linear;
}

.level3 .sticky-menu .vertical-line {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.32);
}

.level3 .sticky-menu .menu-flexbox {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: white;
}

.level3 .sticky-menu .menu-flexbox .h-line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.32);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.level3 .sticky-menu .menu-flexbox .menu1 svg {
  width: 28px;
}

.level3 .sticky-menu .menu-flexbox .menu1 svg path {
  fill: white;
}

.level3 .sticky-menu .menu-flexbox .menu2 svg {
  width: 34px;
  stroke: white;
}

.level3 .sticky-menu .menu-flexbox .menu2 svg path {
  stroke: white;
}

.level3 .sticky-menu .menu-flexbox .menu3 svg {
  width: 28px;
}

.level3 .sticky-menu .menu-flexbox .menu3 svg path {
  stroke: white;
}

.level3 .sticky-menu .menu-flexbox .menu4 svg {
  width: 25px;
}

.level3 .sticky-menu .menu-flexbox .menu4 svg path {
  fill: white;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded {
  background-color: rgba(0, 0, 0, 0.6);
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu1 {
  color: #00a799;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu1 svg path {
  fill: #00a799;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu2 {
  color: #f47a5d;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu2 svg {
  stroke: #f47a5d;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu2 svg path {
  stroke: #f47a5d;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu3 {
  color: #f7941d;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu3 svg path {
  stroke: #f7941d;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu4 {
  color: #09b5ca;
}

.level3 .sticky-menu .menu-flexbox .menu-item-shaded.menu4 svg path {
  fill: #09b5ca;
}

.level3 .menu-item {
  opacity: 0;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.level3 .menu-item svg {
  margin: 0 50px;
}

.level3 .menu-item span {
  color: white;
}

.level3 .menu-item .font-green {
  color: #09b5ca;
}

.level3 .tech1 {
  color: #00a799;
}

.level3 .tech1 svg {
  width: 28px;
}

.level3 .tech2 {
  color: #f47a5d;
}

.level3 .tech2 svg {
  width: 34px;
}

.level3 .tech3 {
  color: #f7941d;
}

.level3 .tech3 svg {
  width: 28px;
}

.level3 .tech4 {
  color: #09b5ca;
}

.level3 .tech4 svg {
  width: 25px;
}

.level3 .menu-appear {
  z-index: 1;
}

.level3 .menu-appear .vertical-line {
  -webkit-transition: height 1000ms linear 200ms, opacity 500ms linear 200ms;
  transition: height 1000ms linear 200ms, opacity 500ms linear 200ms;
  opacity: 1;
  height: 100%;
}

.level3 .menu-appear .menu-flexbox .menu1 {
  -webkit-transition: opacity 50ms linear 350ms, background-color 500ms linear, -webkit-transform 50ms linear 350ms;
  transition: opacity 50ms linear 350ms, background-color 500ms linear, -webkit-transform 50ms linear 350ms;
  transition: transform 50ms linear 350ms, opacity 50ms linear 350ms, background-color 500ms linear;
  transition: transform 50ms linear 350ms, opacity 50ms linear 350ms, background-color 500ms linear, -webkit-transform 50ms linear 350ms;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.level3 .menu-appear .menu-flexbox .line1 {
  -webkit-transition: -webkit-transform 250ms linear 200ms;
  transition: -webkit-transform 250ms linear 200ms;
  transition: transform 250ms linear 200ms;
  transition: transform 250ms linear 200ms, -webkit-transform 250ms linear 200ms;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.level3 .menu-appear .menu-flexbox .menu2 {
  -webkit-transition: opacity 50ms linear 600ms, background-color 500ms linear, -webkit-transform 50ms linear 600ms;
  transition: opacity 50ms linear 600ms, background-color 500ms linear, -webkit-transform 50ms linear 600ms;
  transition: transform 50ms linear 600ms, opacity 50ms linear 600ms, background-color 500ms linear;
  transition: transform 50ms linear 600ms, opacity 50ms linear 600ms, background-color 500ms linear, -webkit-transform 50ms linear 600ms;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.level3 .menu-appear .menu-flexbox .line2 {
  -webkit-transition: -webkit-transform 250ms linear 450ms;
  transition: -webkit-transform 250ms linear 450ms;
  transition: transform 250ms linear 450ms;
  transition: transform 250ms linear 450ms, -webkit-transform 250ms linear 450ms;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.level3 .menu-appear .menu-flexbox .menu3 {
  -webkit-transition: opacity 50ms linear 850ms, background-color 500ms linear, -webkit-transform 50ms linear 850ms;
  transition: opacity 50ms linear 850ms, background-color 500ms linear, -webkit-transform 50ms linear 850ms;
  transition: transform 50ms linear 850ms, opacity 50ms linear 850ms, background-color 500ms linear;
  transition: transform 50ms linear 850ms, opacity 50ms linear 850ms, background-color 500ms linear, -webkit-transform 50ms linear 850ms;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.level3 .menu-appear .menu-flexbox .line3 {
  -webkit-transition: -webkit-transform 250ms linear 700ms;
  transition: -webkit-transform 250ms linear 700ms;
  transition: transform 250ms linear 700ms;
  transition: transform 250ms linear 700ms, -webkit-transform 250ms linear 700ms;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.level3 .menu-appear .menu-flexbox .menu4 {
  -webkit-transition: opacity 50ms linear 1100ms, background-color 500ms linear, -webkit-transform 50ms linear 1100ms;
  transition: opacity 50ms linear 1100ms, background-color 500ms linear, -webkit-transform 50ms linear 1100ms;
  transition: transform 50ms linear 1100ms, opacity 50ms linear 1100ms, background-color 500ms linear;
  transition: transform 50ms linear 1100ms, opacity 50ms linear 1100ms, background-color 500ms linear, -webkit-transform 50ms linear 1100ms;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.level4 {
  width: 100%;
  padding-bottom: 5vh;
}

.level4 .sticky-left {
  display: inline-block;
  opacity: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  max-width: 526px;
  height: 166px;
  margin-left: 5%;
  padding-right: 50%;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.level4 .sticky-left h2 {
  margin: 0;
}

.level4 .scrolling-right {
  opacity: 0;
  position: relative;
  margin-left: 55%;
  margin-top: -156px;
  width: 40%;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.level4 .scrolling-right header {
  height: 75px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 1px solid #0b2142;
  background-color: #0b2142;
  color: white;
}

.level4 .scrolling-right header p {
  padding-left: 5%;
  padding-top: 28px;
}

.level4 .scrolling-right .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  border: 1px solid #0b2142;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 40px 5% 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 32px;
}

.level4 .scrolling-right .body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}

.level4 .scrolling-right .body .row div {
  width: 45px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.level4 .scrolling-right .body .row img {
  width: 22px;
}

.level4 .scrolling-right .last-body {
  margin-bottom: 0;
}

.level4-appear .sticky-left {
  opacity: 1;
}

.level4-appear .scrolling-right {
  opacity: 1;
}

.level5 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 15%;
  color: white;
  margin: 0 0 20vh;
  text-align: center;
  opacity: 0;
  -webkit-transform: opacity 500ms linear 500ms;
          transform: opacity 500ms linear 500ms;
}

.level5 svg {
  width: 94px;
  fill: rgba(255, 255, 255, 0.24);
  margin-bottom: 15vh;
}

.level5 h2 {
  margin-top: 0;
}

.level5 .bold {
  font-size: 20px;
  font-weight: 700;
  margin-top: 63px;
}

.level5-appear {
  opacity: 1;
}

.level6 {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  color: #0b2142;
  margin-top: -200vh;
  width: 100%;
  background-color: #0b2142;
  padding-top: 200vh;
}

.level6 .slider-placeholder {
  position: relative;
  height: 100vh;
  width: 100%;
}

.level6 .slider-placeholder .slider {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5vh 5%;
  height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.level6 .slider-placeholder .slider h2 {
  margin: 5vh 0 0;
}

.level6 .slider-placeholder .slider .investment-p {
  width: 31%;
  margin-bottom: 4vh;
}

.level6 .slider-placeholder .slider .see-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #0b2142;
  color: white;
  width: 225px;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

.level6 .slider-placeholder .slider .see-portfolio:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #081a33;
}

.level6 .slider-placeholder .slider .square-button {
  position: absolute;
  bottom: 30vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  border-radius: 16px;
  border: none;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
  padding: 0;
  width: 45%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.level6 .slider-placeholder .slider .square-button .left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  max-width: 337px;
  background-color: rgba(255, 255, 255, 0.24);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  text-align: left;
  padding: 0 27px;
}

.level6 .slider-placeholder .slider .square-button .left img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 18px;
  margin-right: auto;
}

.level6 .slider-placeholder .slider .square-button .border {
  height: 100%;
  width: 1px;
  background-color: transparent;
}

.level6 .slider-placeholder .slider .square-button .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.24);
  width: 80px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.level6 .slider-placeholder .slider .square-button .right .arrowSVG {
  width: 16px;
}

.level6 .slider-placeholder .slider .square-button:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.level6 .slider-placeholder .slider .square-button:hover .left {
  background-color: white;
}

.level6 .slider-placeholder .slider .square-button:hover .right {
  background-color: white;
}

.level6 .slider-placeholder .slider .hero-img {
  width: 50%;
  position: absolute;
  right: -7%;
  bottom: 21vh;
}

.level6 .slider-placeholder .slider hr {
  position: absolute;
  bottom: 19vh;
  width: 90%;
  height: 1px;
  background-color: rgba(11, 33, 66, 0.24);
  border: none;
}

.level6 .slider-placeholder .slider .bottom-flexbox {
  position: absolute;
  bottom: 10vh;
  left: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.level6 .slider-placeholder .slider .bottom-flexbox .circle-button {
  height: 48px;
  width: 48px;
  background-color: #0b2142;
  border: none;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

.level6 .slider-placeholder .slider .bottom-flexbox .circle-button .arrowSVG {
  width: 16px;
}

.level6 .slider-placeholder .slider .bottom-flexbox .circle-button .arrowSVG path {
  stroke: white;
}

.level6 .slider-placeholder .slider .bottom-flexbox button:hover {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.level6 .slider-placeholder .slider .bottom-flexbox .left-button .arrowSVG {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.level6 .slider-placeholder .slider .bottom-flexbox .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.level6 .slider-placeholder .slider .bottom-flexbox .dots div {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #0b2142;
  margin-left: 8px;
}

.level6 .slider-placeholder .slider .bottom-flexbox .dots div:hover {
  cursor: pointer;
}

.level6 .slider-placeholder .slider .bottom-flexbox .dots .dot1 {
  margin-left: 0;
}

.level6 .slider-placeholder .slider .bottom-flexbox .dots .white-dot {
  background-color: white;
}

.level6 .slide-enter {
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.level6 .slide-enter-active {
  opacity: 1;
}

.level6 .slide-exit {
  opacity: 1;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.level6 .slide-exit-active {
  opacity: 0;
}

.level6-appear {
  opacity: 1;
}

.portfolio {
  position: relative;
  background-color: #0b2142;
  width: 100%;
  text-align: center;
  color: white;
}

.portfolio .our-investments {
  width: 100%;
  padding-top: 30vh;
  margin: 0;
}

.portfolio .investment-p {
  width: 33%;
  margin: auto;
}

.portfolio .investment-grid {
  margin: 30vh auto 0;
  display: -ms-grid;
  display: grid;
  width: 1320px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'addepar bolt blueground' 'addepar cerebral skillz' 'icapital hopper skillz' 'stubhub sonder zupee';
  padding-bottom: 102px;
}

.portfolio .grid-item {
  margin: 12px;
  color: #0b2142;
  text-align: left;
  border-radius: 24px;
  position: relative;
  background-color: white;
  height: 416px;
  width: 416px;
  -webkit-transition: background-color 100ms linear, -webkit-transform 100ms linear;
  transition: background-color 100ms linear, -webkit-transform 100ms linear;
  transition: transform 100ms linear, background-color 100ms linear;
  transition: transform 100ms linear, background-color 100ms linear, -webkit-transform 100ms linear;
  overflow: hidden;
}

.portfolio .grid-item h2 {
  position: relative;
  left: 9%;
  padding-top: 9%;
  margin: 0;
  width: 82%;
}

.portfolio .grid-item p {
  position: relative;
  left: 9%;
  width: 82%;
}

.portfolio .grid-item .icon-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 9%;
  left: 9%;
  width: 82%;
  height: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .grid-item .icon-flex img {
  height: 23px;
  margin-right: 14px;
}

.portfolio .grid-item .icon-flex svg {
  height: 25px;
}

.portfolio .addepar-grid {
  background-color: #00a799;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: addepar;
  height: 865px;
}

.portfolio .addepar-grid .portfolio-hero {
  position: relative;
  top: 46px;
  left: 15px;
  width: 650px;
}

.portfolio .addepar-grid .bottom {
  height: 416px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.portfolio .addepar-grid .bottom svg path {
  fill: white;
}

.portfolio .bolt-grid {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: bolt;
}

.portfolio .blueground-grid {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: blueground;
}

.portfolio .cerebral-grid {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cerebral;
}

.portfolio .skillz-grid {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: skillz;
  background-color: #f7941d;
  height: 865px;
}

.portfolio .skillz-grid .portfolio-hero {
  position: relative;
  top: -55px;
  left: -150px;
  width: 800px;
}

.portfolio .skillz-grid .bottom {
  height: 416px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.portfolio .skillz-grid .bottom svg path {
  stroke: white;
}

.portfolio .icapital-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: icapital;
}

.portfolio .hopper-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: hopper;
}

.portfolio .hopper-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: hopper;
}

.portfolio .stubhub-grid {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: stubhub;
}

.portfolio .sonder-grid {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: sonder;
}

.portfolio .zupee-grid {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: zupee;
}

.grid-item:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  cursor: pointer;
}

.hover-green:hover {
  background-color: #00a799;
}

.hover-green:hover svg path {
  fill: white;
}

.hover-salmon:hover {
  background-color: #f47a5d;
}

.hover-salmon:hover svg {
  stroke: white;
}

.hover-salmon:hover svg path {
  stroke: white;
}

.hover-blue:hover {
  background-color: #0cb6cb;
}

.hover-blue:hover svg path {
  fill: white;
}

.hover-orange:hover {
  background-color: #f7941d;
}

.hover-orange:hover svg path {
  stroke: white;
}

.portfolio-co {
  color: #0b2142;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.portfolio-co .header-links {
  color: #0b2142;
}

.portfolio-co .small-logo {
  color: #0b2142;
}

.portfolio-co .small-logo span {
  color: white;
}

.portfolio-co .company {
  padding-top: 20vh;
}

.portfolio-co .company .hero {
  margin-left: 5.5%;
  width: 102%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

.portfolio-co .company .hero .title img {
  height: 16px;
}

.portfolio-co .company .hero .title h1 {
  max-width: 500px;
  padding-right: 30px;
}

.portfolio-co .company .hero .hero-img {
  height: 606px;
}

.portfolio-co .company .hero .image-visible {
  opacity: 1;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

.portfolio-co .company .hero .image-hidden {
  opacity: 0;
}

.portfolio-co .company .hero .skillz-img {
  height: 900px;
  margin-right: -300px;
  margin-top: -140px;
}

.portfolio-co .company .hero .zupee-img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 400px;
  height: 750px;
  margin-top: -150px;
}

.portfolio-co .company .body {
  max-width: 966px;
  margin: auto;
  padding-bottom: 80px;
}

.portfolio-co .company .body p {
  max-width: 792px;
  text-align: center;
  display: block;
  margin: 130px auto;
}

.portfolio-co .company .body .list-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-bottom: rgba(11, 33, 66, 0.24) solid 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 0;
}

.portfolio-co .company .body .list-line h3 {
  font-size: 20px;
}

.portfolio-co .company .body .list-line .founder-list {
  text-align: right;
}

.portfolio-co .company .body .list-line h2 {
  margin: 0;
}

.portfolio-co .company .body div:last-of-type {
  border-bottom: none;
}

.portfolio-co .company .body button {
  min-width: 239px;
  padding: 0 40px;
  background: rgba(11, 33, 66, 0.08);
  border: 1px solid rgba(11, 33, 66, 0.31);
  color: #0b2142;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.portfolio-co .company .body button:hover {
  background-color: #0b2142;
  color: white;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.portfolio-co .other-investments {
  margin-top: 0;
}

.portfolio-co .other-investments h1 {
  padding-top: 15vh;
}

.portfolio-co .other-investments .investment-flex {
  margin: 15vh auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1320px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10vh;
}

.contact {
  padding-top: 30vh;
  background-color: #0b2142;
  color: white;
}

.contact .mobile-version {
  display: none;
}

.contact .contact-emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
  position: absolute;
  left: 5.5%;
  top: 30vh;
}

.contact .contact-emails p {
  color: #09b5ca;
}

.contact .address-box {
  margin: 0 0 15vh 35%;
  width: 60%;
}

.contact .address-box .address-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  white-space: nowrap;
}

.contact .address-box .address-flex .coords-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact .address-box .address-flex .coords {
  text-align: right;
}

.contact .address-box .address-flex h1 {
  margin: 0;
}

.contact .address-box .address-flex p {
  color: #09b5ca;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  letter-spacing: -0.02em;
}

.contact .address-box address {
  margin-top: 26px;
  font-style: normal;
}

@-webkit-keyframes spin-compass {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin-compass {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 950px) {
  .burger-menu .menu-flexbox .right-menu ul {
    margin-left: 15%;
    width: 86%;
  }
  .contact .contact-emails {
    position: relative;
    top: auto;
    left: 10%;
    margin-bottom: 100px;
  }
  .contact .address-box {
    margin-left: 10%;
    width: 80%;
  }
}

@media only screen and (max-width: 760px) {
  .header-links {
    display: none;
  }
  .burger {
    right: 40px;
    top: 40px;
  }
  .burger-menu .small-logo {
    display: block;
    text-align: left;
    left: 10%;
    font-size: 20px;
    top: 5vh;
  }
  .burger-menu .menu-flexbox .left-menu {
    display: none;
  }
  .burger-menu .menu-flexbox .address-flex {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: none;
    left: 10%;
  }
  .burger-menu .menu-flexbox .right-menu {
    width: 100%;
    height: 70%;
  }
  .burger-menu .menu-flexbox .right-menu ul {
    width: 90%;
    margin-left: 10%;
  }
  .main-header .hero-background {
    text-align: center;
  }
  .main-header .hero-background img {
    height: 100%;
    width: auto;
  }
  .main-header .main-logo {
    font-size: 50px;
    top: 25vh;
  }
  .main-header h4.hero-subtitle {
    top: 60vh;
  }
  .main-header .line1 {
    display: none;
  }
  .main-header .line2 {
    display: none;
  }
  .main-header .line4 {
    display: none;
  }
  .main-header .line5 {
    display: none;
  }
  .main-header .coordinates {
    display: none;
  }
  .main-header .compass-svg {
    right: -15%;
  }
  .level2 .svg-container .wings {
    top: auto;
    bottom: 10vh;
  }
  .level2 .svg-container .estd {
    margin-right: 20%;
  }
  .level2 .svg-container .year-est {
    margin-left: 20%;
  }
  .level3 .sticky-menu {
    display: none;
  }
  .level3 .content {
    width: 90%;
    margin-left: 5%;
  }
  .level3 .menu-item {
    opacity: 1;
    height: auto;
    margin-bottom: 70px;
  }
  .level3 .menu-item svg {
    margin: 0 30px 0 0;
  }
  .level4 .sticky-left {
    position: relative;
    padding-right: 0;
    margin-bottom: 150px;
    top: 0;
  }
  .level4 .scrolling-right {
    margin: 0;
    width: 100%;
    border: none;
  }
  .level4 .scrolling-right header {
    border-radius: 0;
  }
  .level4 .scrolling-right .body {
    border-radius: 0;
    border: none;
  }
  .level5 svg {
    width: 86px;
    margin-bottom: 10vh;
  }
  .level5 h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .level5 p {
    line-height: 30px;
  }
  .level5 .bold::after {
    content: '\a';
    white-space: pre;
  }
  .level5 .mobile-delete {
    display: none;
  }
  .level6 .slider-placeholder .slider .investment-p {
    width: 90%;
  }
  .level6 .slider-placeholder .slider .hero-img {
    z-index: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -25vh;
    width: 50vh;
    top: 45vh;
  }
  .level6 .slider-placeholder .slider .square-button {
    bottom: 10vh;
    width: 90%;
    margin: auto;
  }
  .level6 .slider-placeholder .slider .square-button .left {
    max-width: none;
  }
  .level6 .slider-placeholder .slider hr {
    display: none;
  }
  .level6 .slider-placeholder .slider .bottom-flexbox {
    bottom: 5vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .level6 .slider-placeholder .slider .bottom-flexbox .circle-button {
    display: none;
  }
  .contact .small-logo {
    text-align: left;
    left: 10%;
    font-size: 20px;
    top: 5vh;
  }
  .contact .mobile-version {
    display: block;
  }
  .contact .desktop-version {
    display: none;
  }
  .contact .address-box .address-flex .coords-flex {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .level2 .svg-container {
    height: 100vh;
  }
  .level2 .svg-container .years-svg {
    width: 36%;
    top: 50%;
    margin-top: -18%;
    margin-left: -18%;
  }
  .level2 .svg-container .together-circle-svg {
    width: 90%;
    top: 50%;
    left: 5%;
    margin-left: 0;
    margin-top: -45%;
  }
  .level2 .svg-container .wings {
    top: 57%;
    margin-top: 45%;
    bottom: auto;
  }
  .level2 .svg-container .line1 {
    margin-bottom: 50%;
  }
  .level2 .svg-container .line2 {
    margin-top: 50%;
  }
}
/*# sourceMappingURL=App.css.map */